/*<meta Version="9" />*/

/* MadCap Table Style: */

@media print
{
	mcTableStyle
	{
		margin-top: 3pt;
		margin-bottom: 3pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: note;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	page-break-inside: avoid;
	margin-top: 25px;
	margin-bottom: 25px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	background-image: url('../../Images/gescoe/note.png');
	type: Automatic;
	background-repeat: no-repeat;
	background-position-y: top;
	background-position-x: left;
	cell-padding-right: 5px;
	size: 0.3in;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: top;
	page-break-inside: avoid;
	size: 0.27in;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

@media print
{
	.TableStyle-note
	{
		margin-top: 3pt;
		margin-bottom: 3pt;
		border-spacing: 0px 0px;
	}
}

.TableStyle-note
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-note-Column-Column1
{
	width: 0.3in;
}

.TableStyle-note-Column-Column2
{
	
}

.TableStyle-note-Head-Header1
{
	
}

.TableStyle-note-HeadI-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-HeadI-Column1-Header1 p
{
	
}

.TableStyle-note-HeadE-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadE-Column1-Header1 p
{
	
}

.TableStyle-note-HeadF-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadF-Column1-Header1 p
{
	
}

.TableStyle-note-HeadH-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-HeadH-Column1-Header1 p
{
	
}

.TableStyle-note-HeadD-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadD-Column1-Header1 p
{
	
}

.TableStyle-note-HeadC-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-HeadC-Column1-Header1 p
{
	
}

.TableStyle-note-HeadB-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-HeadB-Column1-Header1 p
{
	
}

.TableStyle-note-HeadA-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-HeadA-Column1-Header1 p
{
	
}

.TableStyle-note-HeadG-Column1-Header1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-HeadG-Column1-Header1 p
{
	
}

.TableStyle-note-HeadI-Column2-Header1
{
	
}

.TableStyle-note-HeadI-Column2-Header1 p
{
	
}

.TableStyle-note-HeadE-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadE-Column2-Header1 p
{
	
}

.TableStyle-note-HeadF-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadF-Column2-Header1 p
{
	
}

.TableStyle-note-HeadH-Column2-Header1
{
	
}

.TableStyle-note-HeadH-Column2-Header1 p
{
	
}

.TableStyle-note-HeadD-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-HeadD-Column2-Header1 p
{
	
}

.TableStyle-note-HeadC-Column2-Header1
{
	
}

.TableStyle-note-HeadC-Column2-Header1 p
{
	
}

.TableStyle-note-HeadB-Column2-Header1
{
	
}

.TableStyle-note-HeadB-Column2-Header1 p
{
	
}

.TableStyle-note-HeadA-Column2-Header1
{
	
}

.TableStyle-note-HeadA-Column2-Header1 p
{
	
}

.TableStyle-note-HeadG-Column2-Header1
{
	
}

.TableStyle-note-HeadG-Column2-Header1 p
{
	
}

.TableStyle-note-Foot-Footer1
{
	
}

.TableStyle-note-FootI-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-FootI-Column1-Footer1 p
{
	
}

.TableStyle-note-FootE-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootE-Column1-Footer1 p
{
	
}

.TableStyle-note-FootF-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootF-Column1-Footer1 p
{
	
}

.TableStyle-note-FootH-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-FootH-Column1-Footer1 p
{
	
}

.TableStyle-note-FootD-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootD-Column1-Footer1 p
{
	
}

.TableStyle-note-FootC-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-FootC-Column1-Footer1 p
{
	
}

.TableStyle-note-FootB-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-FootB-Column1-Footer1 p
{
	
}

.TableStyle-note-FootA-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-FootA-Column1-Footer1 p
{
	
}

.TableStyle-note-FootG-Column1-Footer1
{
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-FootG-Column1-Footer1 p
{
	
}

.TableStyle-note-FootI-Column2-Footer1
{
	
}

.TableStyle-note-FootI-Column2-Footer1 p
{
	
}

.TableStyle-note-FootE-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootE-Column2-Footer1 p
{
	
}

.TableStyle-note-FootF-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootF-Column2-Footer1 p
{
	
}

.TableStyle-note-FootH-Column2-Footer1
{
	
}

.TableStyle-note-FootH-Column2-Footer1 p
{
	
}

.TableStyle-note-FootD-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-note-FootD-Column2-Footer1 p
{
	
}

.TableStyle-note-FootC-Column2-Footer1
{
	
}

.TableStyle-note-FootC-Column2-Footer1 p
{
	
}

.TableStyle-note-FootB-Column2-Footer1
{
	
}

.TableStyle-note-FootB-Column2-Footer1 p
{
	
}

.TableStyle-note-FootA-Column2-Footer1
{
	
}

.TableStyle-note-FootA-Column2-Footer1 p
{
	
}

.TableStyle-note-FootG-Column2-Footer1
{
	
}

.TableStyle-note-FootG-Column2-Footer1 p
{
	
}

.TableStyle-note-Body-Body1
{
	height: 0.27in;
	page-break-inside: avoid;
}

.TableStyle-note-BodyI-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-note-BodyE-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-note-BodyF-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-note-BodyH-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-note-BodyD-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-note-BodyC-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-note-BodyB-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-note-BodyA-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-note-BodyG-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/note.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-note-BodyG-Column1-Body1 p
{
	
}

.TableStyle-note-BodyI-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyI-Column2-Body1 p
{
	
}

.TableStyle-note-BodyE-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-BodyE-Column2-Body1 p
{
	
}

.TableStyle-note-BodyF-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-BodyF-Column2-Body1 p
{
	
}

.TableStyle-note-BodyH-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyH-Column2-Body1 p
{
	
}

.TableStyle-note-BodyD-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-note-BodyD-Column2-Body1 p
{
	
}

.TableStyle-note-BodyC-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyC-Column2-Body1 p
{
	
}

.TableStyle-note-BodyB-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyB-Column2-Body1 p
{
	
}

.TableStyle-note-BodyA-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyA-Column2-Body1 p
{
	
}

.TableStyle-note-BodyG-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-note-BodyG-Column2-Body1 p
{
	
}

