/*<meta Version="9" />*/

/* MadCap Table Style: */

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		font-family: 'GE Inspira';
		color: #000000;
	}
}

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Basic;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-bottom: 5px;
	border-left-color: #bfc2c5;
	border-right-color: #bfc2c5;
	border-top-color: #bfc2c5;
	border-bottom-color: #bfc2c5;
	max-id: 8;
	cell-padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bfc2c5;
	name: Column1;
	id: 0;
	size: 50%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #3f4145;
	background-color: #3f4145;
	name: Header1;
	id: 2;
	font-family: 'GE Inspira';
	font-weight: bold;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bfc2c5;
	name: Row1;
	id: 1;
	page-break-inside: allow;
}

/* Cell Styles: */

@media non-print
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-BodyI-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyI-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyE-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyE-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyF-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyF-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyH-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyH-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyD-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyD-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyC-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyC-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyB-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyB-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyA-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyA-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyG-Column1-Row1
	{
		color: #000000;
		font-family: 'GE Inspira';
	}

	.TableStyle-Basic-BodyG-Column1-Row1 p
	{
		color: #000000;
		font-family: 'GE Inspira';
	}
}

.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #bfc2c5;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #bfc2c5;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc2c5;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfc2c5;
	border-bottom-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	width: 50%;
}

.TableStyle-Basic-Head-Header1
{
	
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #3f4145;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-Basic-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootI-Column1- p
{
	
}

.TableStyle-Basic-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-FootE-Column1- p
{
	
}

.TableStyle-Basic-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootF-Column1- p
{
	
}

.TableStyle-Basic-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1- p
{
	
}

.TableStyle-Basic-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootD-Column1- p
{
	
}

.TableStyle-Basic-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootC-Column1- p
{
	
}

.TableStyle-Basic-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1- p
{
	
}

.TableStyle-Basic-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootA-Column1- p
{
	
}

.TableStyle-Basic-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-FootG-Column1- p
{
	
}

.TableStyle-Basic-Body-Row1
{
	page-break-inside: allow;
}

.TableStyle-Basic-BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-BodyI-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #bfc2c5;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #bfc2c5;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyF-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #bfc2c5;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyD-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-BodyC-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-BodyA-Column1-Row1 p
{
	
}

.TableStyle-Basic-BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic-BodyG-Column1-Row1 p
{
	
}

mcTableStyle
{
	
}

mcTableColumnStyle
{
	
}

mcTableHeadStyle
{
	
}

mcTableBodyStyle
{
	font-family: 'GE Inspira';
	color: #000000;
}

.TableStyle-Basic
{
	border-spacing: 0px 0px;
}

.TableStyle-Basic-BodyI-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyI-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyE-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyE-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyF-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyF-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyH-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyH-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyD-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyD-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyC-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyC-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyB-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyB-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyA-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyA-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyG-Column1-Row1
{
	color: #000000;
	font-family: 'GE Inspira';
}

.TableStyle-Basic-BodyG-Column1-Row1 p
{
	color: #000000;
	font-family: 'GE Inspira';
}

