/*<meta Version="9" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: caution;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	page-break-inside: avoid;
	margin-top: 25px;
	margin-bottom: 25px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	background-image: url('../../Images/gescoe/caution.png');
	type: Automatic;
	background-repeat: no-repeat;
	background-position-y: top;
	background-position-x: left;
	cell-padding-right: 5px;
	size: 0.3in;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: top;
	page-break-inside: avoid;
	size: 0.27in;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

.TableStyle-caution
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-top: 25px;
	margin-bottom: 25px;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-caution-Column-Column1
{
	width: 0.3in;
}

.TableStyle-caution-Column-Column2
{
	
}

.TableStyle-caution-Head-Header1
{
	
}

.TableStyle-caution-HeadI-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-HeadI-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadE-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadE-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadF-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadF-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadH-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-HeadH-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadD-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadD-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadC-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-HeadC-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadB-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-HeadB-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadA-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-HeadA-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadG-Column1-Header1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-HeadG-Column1-Header1 p
{
	
}

.TableStyle-caution-HeadI-Column2-Header1
{
	
}

.TableStyle-caution-HeadI-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadE-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadE-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadF-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadF-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadH-Column2-Header1
{
	
}

.TableStyle-caution-HeadH-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadD-Column2-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-HeadD-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadC-Column2-Header1
{
	
}

.TableStyle-caution-HeadC-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadB-Column2-Header1
{
	
}

.TableStyle-caution-HeadB-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadA-Column2-Header1
{
	
}

.TableStyle-caution-HeadA-Column2-Header1 p
{
	
}

.TableStyle-caution-HeadG-Column2-Header1
{
	
}

.TableStyle-caution-HeadG-Column2-Header1 p
{
	
}

.TableStyle-caution-Foot-Footer1
{
	
}

.TableStyle-caution-FootI-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-FootI-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootE-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootE-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootF-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootF-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootH-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-FootH-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootD-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootD-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootC-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-FootC-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootB-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-FootB-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootA-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-FootA-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootG-Column1-Footer1
{
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-FootG-Column1-Footer1 p
{
	
}

.TableStyle-caution-FootI-Column2-Footer1
{
	
}

.TableStyle-caution-FootI-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootE-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootE-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootF-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootF-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootH-Column2-Footer1
{
	
}

.TableStyle-caution-FootH-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootD-Column2-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-caution-FootD-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootC-Column2-Footer1
{
	
}

.TableStyle-caution-FootC-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootB-Column2-Footer1
{
	
}

.TableStyle-caution-FootB-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootA-Column2-Footer1
{
	
}

.TableStyle-caution-FootA-Column2-Footer1 p
{
	
}

.TableStyle-caution-FootG-Column2-Footer1
{
	
}

.TableStyle-caution-FootG-Column2-Footer1 p
{
	
}

.TableStyle-caution-Body-Body1
{
	height: 0.27in;
	page-break-inside: avoid;
}

.TableStyle-caution-BodyI-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyI-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyE-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-BodyE-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyF-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyF-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyH-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-BodyH-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyD-Column1-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyD-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyC-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyC-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyB-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-caution-BodyB-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyA-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyA-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyG-Column1-Body1
{
	vertical-align: top;
	background-image: url('../../Images/gescoe/caution.png');
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	padding-right: 5px;
}

.TableStyle-caution-BodyG-Column1-Body1 p
{
	
}

.TableStyle-caution-BodyI-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyI-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyE-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-BodyE-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyF-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-BodyF-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyH-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyH-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyD-Column2-Body1
{
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-caution-BodyD-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyC-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyC-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyB-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyB-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyA-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyA-Column2-Body1 p
{
	
}

.TableStyle-caution-BodyG-Column2-Body1
{
	vertical-align: top;
}

.TableStyle-caution-BodyG-Column2-Body1 p
{
	
}

